body {
	background-color: #0005d6; 
}

input:before {
	width: 10%;
	height: 40%;
	margin-left: 40%;
	margin-right: 40%;
	display: inline;
}

input:after {
	width: 10%;
	height: 40%;
	margin-left: 40%;
	margin-right: 40%;
	display: inline;
}
