body {
  background-color: #f2f2f2; 
  margin-left: 20%;
  position:absolute;
  top:25%;
  left:45%;
  margin-top:-50px; 
  margin-left:-100px; 
}

input { 
	 text-align: center;
   border-style: 1px solid;
   border-color: #c2f2f2;
   height:50px;
   width:50px;
   cursor:pointer;
   font-size: 32px;
   background-color: #f2f2f2;
}

img {
	width: 25%;
	height: 90%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

#score, p {
  font-family: Arial;
}
